---
import { sanityClient } from "sanity:client";
const recipes = await sanityClient.fetch(`*[_type == "recipe"]`);
---

<h1>My Digital Cookbook</h1>
<ul>
  {recipes.map((recipe) => (
    <li>
      <a href={`/recipe/${recipe.slug.current}`}>
        {recipe.title} — ({recipe.category})
      </a>
    </li>
  ))}
</ul>
